@media (min-width: 768px) {
.nav_menu {
    padding: 20px 30px 20px 30px; 
}

.projetos {
    padding: 15px 30px 20px 30px;
        margin-top: 20px;
}

.projetos_texto {
     margin-left: 40px;
     margin-top: 40px;
}
    
    .projetos_texto h2 {
    width:588px;
    font-size: 72px;
    font-weight: 800;
     margin-bottom: 15px;
}

.projetos_texto p {
    width: 367px;
    font-size: 24px;
    margin-bottom: 50px;
}

.projetos_imagem {
    height: 662px;
    border-radius: 24px;
}

.sobre {
    padding: 20px 30px 15px 30px;
    margin-top: 20px;
}

.lorem {
    padding: 30px 30px 0 30px;
    margin-bottom: 15px;
}

.lorem img {
    height: 454px;
}

.lorem_conteudo_texto {
   padding: 30px;
   display: flex;
   justify-content: space-between;
   border-radius: 32px;
}

.lorem button {
    width: 108px;
}
.lorem h3 {
    width: 400px;
    font-size: 18px;
}

.outros {
    padding: 0 30px 30px 30px ;
    margin-top: 0;
}

.outros_conteudo_item {
    display: flex;
    height: 216px ;
    padding: 40px;
    border-radius: 32px;
}

.outros_item img {
    width: 108px;
}

.texto_cubo {
    margin-left: 80px;
}

.trabalhamos {
    padding: 30px;
}

.trabalhamos img {
    height: 284px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.trabalhamos h3 {
    font-size: 24px;
}

.trabalhamos button {
    margin-right: 30px;
}

.vantagens {
    padding: 40px 30px 40px 30px;
}

.vantagens_couteudo {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 3fr 1fr 3r;
    gap: 15px;
    grid-template-areas:
       "globo prancheta"
       "globo fabrica"
       "globo fabrica"
       "grafico cronometro"
       "aviao globo2"
       "aviao globo2"
       ;
}

    .globo {grid-area: globo}
    .prancheta {grid-area: prancheta}
    .cronometro {grid-area: cronometro}
    .grafico {grid-area: grafico}
    .aviao {grid-area: aviao}
    .fabrica {grid-area: fabrica}
    .globo2 {grid-area: globo2}

    .globo2 {
    height: 200px;
}

.vantagens_conteudo_item {
    margin: 0;
}

.servicos {
    padding: 30px;
    margin-bottom: 20px;
}

.conteudo_item_imagem {
    width: 355px;
    height: 165px;
}
.servicos_conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
}

.servicos_conteudo_item {
    margin: 0;
}

.servicos h3 {
    font-size: 24px;
}

.formulario {
    padding: 40px 30px 30px 30px;
}

.formulario_item, .formulario select {
    width: 570px;
}

.concluir {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 600px;
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-areas:
    "botaobotao concordo"
    ;
}

    .concordo {grid-area: concordo}
    .botaobotao {grid-area: botaobotao}

.formulario button {
    width: 143px;
}

.formulario p {
    width: 550px;
}

.footer_texto {
    margin-left: 20px;
}

.footer_logo {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.texto_detalhes {
    width: 650px;
    height: 180px;
    margin-left: 20px;
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "social lista1 lista2";

    .lista1 {grid-area: lista1}
    .lista2 {grid-area: lista2}
    .social {grid-area: social}
}
.social {
    margin-bottom: 200px;
}

.footer_lista, .lista2 {
    margin-top: 40px;

}

}